* {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, form {
  text-align: center;
}

#name, #msa, #key {
  border: none;
  border-bottom: 1px solid black;
  margin: 4px;
  font-size: 16px;
}

#add-signout-btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  height: 30px;
  width: 50px;
  color: white;
  background: rgb(30, 66, 23);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
}

li {
  list-style: none;
  margin: 10px;
  box-shadow: 7px 4px 4px gray;
  width: 21%;
  border: 1px solid rgb(30, 66, 23);
}

#checkin-form {
  display: inline-block;
}

#checkin-form-btn {
  border: none;
  text-decoration: none;
  background: rgb(30, 66, 23);
  color: white;
  cursor: pointer;
  height: 36px;
}

span {
  margin: 0 12px;
  color: rgb(30, 66, 23);
}

.completed {
  display: none;
}

#name:hover, #msa:hover, #key:hover {
  background-color: rgb(243, 241, 241);
}

#add-signout-btn:active, #checkin-form-btn:active {
  -webkit-box-shadow: inset 0px 0px 5px #e7e5e5;
  box-shadow: inset 0px 0px 5px #e7e5e5;
  outline: none;
}

@media screen and (max-width: 768px) {
  #name, #msa, #key {
    -webkit-appearance: none;
    border-radius: 0;
  }

  #signout-form {
    width: 100%;
  }

  li {
    width: 90%;
  }

  #signout-div {
    font-size: 12px;
  }
}