<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MSA/Key Signout</title>
</head>
<body>
  <h1>MSA/Key Signout</h1>
  
  <form action="/add" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="name">

    <label for="msa">MSA#</label>
    <input type="text" id="msa" name="msa" placeholder="MSA#">

    <label for="key">Key</label>
    <input type="text" id="key" name="key" placeholder="key">

    <label for="date-time"></label>

    <button type="submit">Enter</button>
  </form>

  <div id="signout-div">
    <ul>
      <% signouts.forEach(signout => { %>
        <li><%- signout.name %> <%- signout.msa %> <%- signout.key %> <%- signout.createdAt %></li>
      <% }) %>
    </ul>
  </div>

</body>
</html>