<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MSA/Key Signout</title>
</head>
<body>
  <h1>MSA/Key Signout</h1>
  
  <form>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="name">

    <label for="msa">MSA#</label>
    <input type="text" name="msa" placeholder="MSA#">

    <label for="date-time"></label>

    <button type="submit">Enter</button>
  </form>

</body>
</html>